<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="fr" xml:lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <script type="text/javascript" src="/js/jquery-1.3.1.min.js"></script>
    <script type="text/javascript" src="/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="/js/rubyzome.js"></script>
    <title><%= @title %></title>
    <script>
        function getUrlVars()
        {
            var vars = [], hash;
            var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
            for(var i = 0; i < hashes.length; i++)
            {
                hash = hashes[i].split('=');
                vars.push(hash[0]);
                vars[hash[0]] = hash[1];
            }
            return vars;
        }
        var base='/accounts/' ;
        function update_resource(nickname) {
            var params = getUrlVars();
            $.post(
                base+nickname+'.json', 
                {   l: params['l'],
                    p: params['p'],
                    nickname: nickname, 
                    password: $("#pw"+nickname).val(), 
                    _method: 'PUT',
                },
                function() {
                    alert("User "+nickname+" updated successfully");
                });
        }

    </script>
</head>
<body>
    <div id="entete">
        <div id="logo">
            <img src="/img/GridPocketBlueLogo.jpg" alt="Grid Pocket Logo" width="250px" />
        </div>
        <div id="titles">
            <h1><%= @title %> <%= @subtitle %></h1>
        </div>
        <div class="flush"></div>
    </div>

    <div id="content">
    <% begin %>
        <% login_str=%{?l=#{@request[:l]}&p=#{@request[:p]}} %>
        <table>
            <tr>
                <th>nickname</th>
                <th>password</th>
                <th>update</th>
            </tr>
        <% parity_class = 0 %>
        <% account=@object %>
        <% nkm=account[:nickname] %>
        <% parity_class=( parity_class+1) %2 %>
            <tr class="r<%=parity_class%>" id="line<%=nkm%>">
                <td><span id="nickname"><%= nkm %></span></td>
                <td><input type="text" id="pw<%=nkm%>"  value="<%= account[:password] %>"/></td>
                <td><span class="button"
                        onclick='update_resource("<%=nkm%>")'>update</span></td>
            </td>
        </table>
        <a href="/users/<%=@object[:nickname]%><%=login_str%>">Back to user view</a>
    <% rescue Exception => e %>
        <%= @content %>
    <% end %>
    </div>

    <div id="bottom">
        <div id="menu">
            <a href="/accounts<%=login_str%>">Accounts list</a>
            .
            <a href="/users<%=login_str%>">Users list</a>
        </div>
    <div id="gprefs">
    2009 GridPocket© SAS All Rights Reserved
    </div>
    <div id="promotion">
        Designed by <a href="http://yannesposito.com">Yann Esposito</a> &amp; <a href="http://lucarea.net">Luc Juggery</a>. Done with the <em>Rubyzome</em> framework.
    </div>
    </div>
</body>
</html>
