<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="fr" xml:lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <script type="text/javascript" src="/js/jquery-1.3.1.min.js"></script>
    <script type="text/javascript" src="/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="/js/rubyzome.js"></script>
    <title><%= @title %></title>
    <script>
        var num=0;
        var base='/users/' ;
        function update_resource(nickname) {
            $.post(
                base+nickname+'.json', 
                {   l: "adm",
                    p: "adm",
                    nickname: nickname, 
                    status: $("#msg"+nickname).val(),
                    _method: 'PUT'
                },
                function() {
                    var name='s'+num+'_'+nickname;
                    $("#info").prepend('<div id="'+name+'">'+nickname+' updated!</div>');
                    setTimeout(function(){$('#'+name).remove()},1500);
                    num++;
                });
        }

        function delete_resource(nickname) {
            $.post(
                base+nickname+'.json', 
                {   l: "adm",
                    p: "adm",
                    nickname: nickname, 
                    _method: 'DELETE'
                },
                function() {
                    location.reload();
                });
        }
    </script>
</head>
<body>
    <div id="entete">
        <h1>Users</h1>
        <h2>Administrate user messages here</h2>
    </div>

    <div id="content">
        <div id="info">
        </div>
        <table>
            <tr>
                <th>nickname</th>
                <th>status</th>
                <th>update</th>
                <th>remove</th>
            </tr>
        <% parity_class = 0 %>
        <% @object.sort {|x,y| x[:nickname] <=> y[:nickname]}.each do |account| %>
            <% nkm=account[:nickname] %>
            <% parity_class=( parity_class+1) %2 %>
            <tr class="r<%=parity_class%>" id="line<%=nkm%>">
                <td><a href="/users/<%=nkm%>?l=adm&p=adm"><%=  nkm %></a></td>
                <td><input type="text" id="msg<%=nkm%>" value="<%=  account[:status] %>"/></td>
                <td><span class="button"
                        onclick='update_resource("<%=nkm%>")'>update</span></td>
                <td><span class="button" 
                        onclick='delete_resource("<%=nkm%>")'>remove</span></td>
            </td>
        <% end %>
        </table>
    </div>

    <div id="bottom">
    <div id="gprefs">
    2009 GridPocket© SAS All Rights Reserved
    </div>
    <div id="promotion">
        Designed by <a href="http://yannesposito.com">Yann Esposito</a> &amp; <a href="http://lucarea.com">Luc Juggery</a>. Done with the <em>Rubyzome</em> framework.
    </div>
    </div>
</body>
</html>
